<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <title>Missing Person API</title>
</head>
<body>
   <div class="container">

    <span class="title">
        Welcome to the <h1>Missing Person API</h1>!
    </span>

   <div class="content">
       <div>
           <p>This is a database of missing people built mostly from public information avaible on the FBI government website.</p>
           <p>You can get full list from making a GET request in your preferred coding langauge to:</p>
            <div class="api-full-list">https://fbi-missing-person-api.herokuapp.com/v1/all</div>
            <br>
            <p>You can also visit the <a href="https://github.com/jaysnel/fbi-missing-person-api">github</a> page.</p>
        </div>
   </div>




   
   </div>
</body>
</html>